[run]
include = intecomm_*
omit = intecomm_*/tests/*,intecomm_*/baker_recipes.py,intecomm_*/migrations/*,_version.py,intecomm_edc/settings/*,intecomm_edc/wsgi*.py,manage.py,runtests.py
branch = 1

[report]
exclude_lines =
  pragma: no cover
  if TYPE_CHECKING:
